<div class="console-background">
    <div class="console-text">blah blah blah</div>
    <input type="text" class="console-command" ref="command"></input>
    <button v-on:click="submitCommand" class="console-submit">Submit</button>
</div>