<div id="game-menu">
	<div id="saving-world-easter-egg" ref="savingWorldEE">Saving world...</div>
	<div id="menu-main" v-show="!optionsMenuOpen">
		<div id="pause-header">Clash of Steel</div>
		<br />
		<div id="menu-options">
			<div class="menu-button">Options</div>
		</div>
	</div>
	<options-menu v-show="optionsMenuOpen"></options-menu>
</div>