<div id="hotbar" class="hotbar">
	<span ref="slot1" id="hotbar-1" class="hotbar activated">1</span>
	<span ref="slot2" id="hotbar-2" class="hotbar">2</span>
	<span ref="slot3" id="hotbar-3" class="hotbar">3</span>
	<span ref="slot4" id="hotbar-4" class="hotbar">4</span>
	<span ref="slot5" id="hotbar-5" class="hotbar">5</span>
</div>