<div class="inventory">
	<div id="inv-wrapper">
		<span class="inventory-header">Inventory</span>
    	<table class="inventory-table" ref="inv-parent">
		</table>
	</div>
	<div id="item-hover" ref="item-hover">
		
	</div>
</div>