<div>
    <div id="pause-header">Options</div>
	<br />
	<div id="menu-options">
        <div class="menu-button">Options</div> <br/>
        <span>Enable shadows:</span><input type="checkbox"></input> <br/>
        <span>V-Sync:</span><input type="checkbox"></input> <br/>
        <span>UI Scale:</span><input type="range" min="0.25" max="2" value="1.0" step="0.05" v-model="uiScale"></input><span>{{uiScale}}</span>
	</div>
</div>