:root {
	--scale-factor:1.25;
}

@font-face {
    font-family: COSMain;
    src: url(fonts/main.otf);
}

@font-face {
    font-family: mono;
    src: url(fonts/mono.ttf);
}

html {
    font-family: 'COSMain';
	font-size: calc(16px * var(--scale-factor));
}

body {
	margin: 0;
}

.progress-bar {
    border: 2px solid blue;
    height: calc(15px * var(--scale-factor));
    border-radius: 10px;
}

.progress-bar-fill {
    height: calc(15px * var(--scale-factor));
    background-color: #5cbcff;
    border-radius: 10px;
    transition: width 0.5s;
    transition-timing-function: ease;
}

#health-section {
    width: calc(500px * var(--scale-factor));
    bottom: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    color: white;
    border-radius: 5px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.devmode-warning {
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1em;
    right: 5px;
    position: absolute;
}

.console-background {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 5px;
    display: grid;
    padding: 10px;
    height: 250px;
    width: 250px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.console-command {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 10;
}

.console-submit {
    grid-column: 5;
    grid-row: 10;
}

.console-text {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 10;
    background-color: white;
    color: black;
}

.hotbar span {
    border: 2px solid rgb(0, 163, 255);
    min-width: calc(20px * var(--scale-factor));
    margin: 0 0 0 0;
    display: inline-block;
    height: calc(25px * var(--scale-factor));
    text-align: center;
    line-height: calc(25px * var(--scale-factor));
	background-color: rgba(0, 44, 125, 0.8);
	border-radius: 5px;
	color: white;
}

.hotbar.activated {
    color: #00f7ff;
}

#hotbar {
    position: absolute;
    height: calc(25px * var(--scale-factor));
    left: calc(50vw - (54.5px * var(--scale-factor)));
    bottom: 20px;
}

.inventory {
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    top: 20px;
    left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(50, 50, 50, 0.9);
    color: white;
}

.inventory-slot img {
	max-width: 100%;
	max-height: 100%;
	margin: 0px;
}

.inventory-slot {
	height: calc(75px * var(--scale-factor));
	width: calc(75px * var(--scale-factor));
}

#inv-wrapper {
    padding: 10px;
}

.inventory-header {
    font-size: 2em;
    font-weight: bold;
}

td {
    width: calc(75px * var(--scale-factor));;
    height: calc(75px * var(--scale-factor));;
	max-width: calc(75px * var(--scale-factor));;
	max-height: calc(75px * var(--scale-factor));;
    font-size: 25pt;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.9);
	border-radius: 15px;
}

#crosshair {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.crosshair-center {
	width: 6px;
	height: 6px;
	background-color: rgb(0, 136, 222);
	position: absolute;
	top: calc(50% - (6px / 2));
	left: calc(50% - (6px / 2));
}

#item-hover {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(25, 25, 25, 0.7);
	border: 2px solid black;
	padding: 5px;
	border-radius: 7px;
}

#game-menu {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(25, 25, 25, 0.7);
	width: 100vw;
	height: 100vh;
    color: white;
    box-sizing: border-box;
    padding: 20px;
}

@font-face {
  font-family: ee1;
  src: url(fonts/ee1.ttf);
}

#saving-world-easter-egg {
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: white;
	font-family: 'ee1', 'COSMain', sans-serif;
	font-size: 24px;
}

#alpha-msg {
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: inline-block;
	color: black;
	text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#pause-header {
    color: white;
    font-size: 300%;
}

#menu-options {
    margin-left: 10px;
}

.menu-button {
    background-color: rgba(25, 25, 25, 0.7);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

#deltaTime {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: rgba(25, 25, 25, 0.7);
    font-family: 'mono', monospace;   
}