<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>You shouldn't be able to see this!</title>
        <script src="common/jquery.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link rel="stylesheet" href="gameplay_hud.css">
    </head>
    <body>
        <div id="ui">
            <div id="deltaTime">Frametime: {{(deltaTime * 1000).toFixed(4)}}ms ({{(1 / deltaTime).toFixed(2)}}fps)</div>
			<div id="alpha-msg">Pre-alpha gameplay. Subject to change.<br /><span ref="buildInfo"></span></div>
			<crosshair></crosshair>
            <div id="health-section">
                <span>Health</span>
                <health-bar v-bind:health="health"></health-bar>
            </div>
			<hotbar ref="hotbar"></hotbar>
            <div id="inventory" v-show="showInventory">
                <inventory ref="inv"></inventory>
            </div>
            <devmode-warning v-if="isDeveloper"></devmode-warning>
            <div id="dev-haxx">
                <infinite-inventory ref="infInv"></infinite-inventory>
            </div>    
			
            <!-- <div id="dev-console">
                <dev-console></dev-console>
            </div> -->
			<game-menu ref="gameMenu" v-show="menuOpen"></game-menu>
        </div>
        <script src="gameplay_hud.js"></script>
    </body>
</html>